/* sidebar.module.css */
.customScrollbar::-webkit-scrollbar {
  width: 4px;
}
.customScrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.customScrollbar::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.3);
  border-radius: 4px;
}
.customScrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.5);
}